@import url('reset.css');
body{
 
	font-size: 14px;
	font-family: Tahoma, Geneva, sans-serif;
	background: url("../images/design/page-back.png") #fff top center no-repeat;
  background-position: fixed;
}
a{
	text-decoration: none;
	color: #FF9200;
}
a:active{
	color: #FFS9200;
}
a:hover{
	color: #FFAD40;
	font-weight: bold;
}
a:visited{
	color: #A65F00;
}

#wrap{
	width: 900px;
	height: 800px;
  margin: 75px auto;
}
 
 
#sideContent{
	width: 30%;
	float:right;
	min-height: 500px;
	
}
#mainContent{
	width: 630px;
	float: left;
	min-height: 500px;
	margin: auto;
}
#search{
    margin: 15px auto;
    padding: 0;
    width: 400px;
}
#search p{
	border: 2px solid #444444;
	padding:0px;
	margin:0px;
}
#search input{
	line-height: 40px;
	height:40px;
	font-size: 36px;
	border:0px;
	padding:0px;
	margin:0px;
}
#search input[type=text]{
	float:left;
	width: 331px;
}
#search input[type=submit]{
	width: 65px;
	font-size: 20px;
}
#map_canvas{
    height: 415px;
    margin: 10px auto;
    width: 615px;
}
#footer{
	width:100%;
	line-height:150px;
	font-size: 25px;
	text-align: center;
	height:150px;
	float:left;
	clear:both;
}
